
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #cac9c9;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(98, 98, 98);
    margin-top: 40px;
}

/* boton agregar alumnos */
#btnAgregarAlumno {
    background-color: rgb(241, 163, 78);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 16px;
    margin-bottom: 22px;
    font-weight: 700;
    

}

.btnAgregarAlumno {
    background-color:  rgb(241, 163, 78);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 60%;
    font-size: 16px;
    font-weight: 700;
}


/* Estilo para la tabla */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 15px;
    text-align: start;
}

/* Estilo para el encabezado de la tabla */
thead {
    background-color: #007BFF;
    color: white;
    font-size: 20px;
}

/* Estilo para el formulario de agregar alumno */
#agregarAlumno {
    max-width: 40%;
    margin-left: 20px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.cuadrito {
    font-size: 25px;
    margin-left: 100px;
}

#AgregarCalificacionBtn {
    background-color: rgb(241, 163, 78);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}
.notaTabla{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    
}